<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/all.min.css" />
    <title>Daftar</title>
  </head>
  <body>
    <div class="login-box">
      <div class="hero">
        <div class="form-box">
          <a href="../index.html" class="close-btn">&times;</a>
          <h2>Daftar</h2>
          <form
            id="login"
            class="input-group"
            method="POST"
            action="https://script.google.com/macros/s/AKfycbwek-5mzIamRtuL9UQ-GjE1l7ztcE62ak4nRMq2T7rNH1XpiYr2sBJdqHZL18YNcGKV/exec"
          >
            <div class="input-field">
              <i class="fa fa-user" aria-hidden="true"></i>
              <input
                type="nama"
                id="nama"
                name="nama"
                class="field"
                placeholder="Nama"
                required
              />
            </div>
            <div class="input-field">
              <i class="fa fa-check" aria-hidden="true"></i>
              <input
                type="keterangan"
                id="keterangan"
                name="keterangan"
                class="field"
                placeholder="Confirm Hadir/Tidak"
                required
              />
            </div>
            <button href="register.html" type="submit" class="submit-btn">
              Daftar
            </button>
          </form>
          <div class="aside">
            <a>Terimakasih sudah mengisi</a>
            <p>Ditunggu kehariannya ya<a> Gooooo!</a></p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
